body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/src/components/images/download\ \(1\).jpg); 
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

body::before{
  position: absolute;
  content: '';
   background-color: rgba(0, 47, 255, 0.116);
  /* background-image: linear-gradient(to right, rgba(19, 39, 218, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95)); */
  width: 100%;
  height: 100%;
}

